.*
__pycache__/*
PML2PythonTranslator-Dev-I/pml_grammar/make_grammar.bat
PML2PythonTranslator-Dev-I/testListener.py
.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/